@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

:root {
    --black : #000000;
    --white : #FFFFFF;
    --white-opacity-85:rgba(255, 255, 255, 0.85);
    --gray:rgb(128, 128, 128);
    --gray-light:#cbcbcb;

}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16 px;
    margin: 0;
    height: 100vh;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

main section {
    width: 50%;
}

.presentation {

    background: url('../Form-Sign-In/imgs/women_book.jpg') center no-repeat;
    background-size: cover;
    height:100%;
    position :relative;
}

main section p {
    color:  #cbcbcb;
    margin:0 0 32px 0;
}

main label {
    display :list-item
    
}

.presentation div {
   background-color: var(--white-opacity-85);
   width: 65%;
   border-radius: 6px;
   font-size: 1.5rem;
   padding: 20px;
   position:absolute;
   bottom: 50px;
   left:50%;
   transform: translate(-50%);
}

.firstpart form input {

    display: block;
    border: 1px solid var(--gray-light);
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
   
}

.firstpart form label {

    display:block;
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 2px;
}
.firstpart form h1 {
    font-size: 2.3rem;
    margin: 0;
}

.firstpart form {
    width: 50%;
    margin: auto;
}

.firstpart form button {
    background-color: var(--black);
    color: var(--white);
    border-radius : 4px;
    padding : 12px 0;
    border : 0;
    width: 100%;
}

.firstpart form a {
    border: 1px solid var(--gray-light);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 0.9em;
    gap: 10px;
    padding: 10px 0;
    border-radius: 4px;
    margin-top: 12px;
}

.firstpart form a img {
    width: 5%;
}
 